.container{
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    border-bottom: 1px solid #C7C7C7;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 17px;
}

.logo{
    position: relative;
    padding-top: 18px;
}

.logo__img{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 61px;
    max-height: 57px;
    opacity: 20%;
}

.logo__title{
    font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 22px;
    font-weight: 400;
    color: #253D36;
    letter-spacing: .2em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    /* padding-left: 22px;
    padding-top: 45px; */
}

.header__buttons{

    
}

.header__btn{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-right: 20px;
}


.header__btn-green{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background-color: #84DBC2;
    display: inline-block;
    align-items: center;
    padding: 18px 48px;
    border: 1px solid #99EAD3;
    border-radius: 75px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.main-content{
    min-height: calc(100vh - 102.2px);
    background-image: url(../images/main-content-bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 334px;
    padding-bottom: 140px;
    position: relative;
}

.background-decoration{
    position: absolute;
    top: 90px;
    right: 0;
}

.main-content__title{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: 0.28em;
    color: #fff;
    text-transform: uppercase;
}

.main-content__promo{
    font-family: 'Roboto', sans-serif;
    font-size: 130px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    margin-bottom: 45px;
}

.main-content__text{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 125px;
}

.main-content__btn{
    display: flex;
    position: relative;
    gap: 0 10px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    background-color: #F4CDD8;
    padding: 22px 70px 22px 45px;
    border-radius: 75px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.arrow-btn{
    position: absolute;
    right: 30px;
    top: 40px;
}

.media-sign__btn{
    display: none;
}

@media (max-width:910px) {

    .main-content {
        background-image: url(../images/main-content-bgc-media700px.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-content__title {
        font-size: 20px;
        margin-top: 230px;
        margin-bottom: 35px;
    }

    .main-content__promo{
        font-size: 70px;
        margin-bottom: 40px;
    }

    .main-content__text{
        font-size: 18px;
        margin-bottom: 100px;
    }
}

@media (max-width:650px) {

    .header__btn{
        display: none;
    }

    .main-content__title{
        margin-top: 60px;
    }

    .main-content__text{
        max-width: 565px;
    }

    .background-decoration{
        width: 330px;
        height: 315px;
    }

    .main-content__btn{
        gap: 0 10px;
        align-items: center;
        font-size: 24px;
        padding: 11px 45px 13px 10px;
    }

    .arrow-btn{
        width: 10px;
        height: 17px;
        right: 25px;
        top: 20px;
    }

    .container__buttons{
        display: flex;
        align-items: center;
        gap: 0 30px;
    }

    .media-sign__btn{
        display: block;
        font-family: 'Reem Kufi', sans-serif;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

    .media-sign__btn span{
        font-size: 14px;
    }

    .header__btn-green{
        font-size: 20px;
        padding: 10px 20px;
}
}

@media (max-width:650px){

    .main-content__title{
        margin-top: 135px;
        margin-bottom: 10px;
    }
}

@media (max-width:368px){

    .main-content__title{
        margin-top: -50px;
        font-size: 15px;
    }

    .main-content__promo{
        font-size: 40px;
        margin-bottom: 40px;
    }

    .main-content__text{
        font-size: 16px;
        margin-bottom: 40px;
    }

    .main-content__btn{
        font-size: 16px;
    }

    .arrow-btn{
        width: 8px;
        height: 13px;
        top: 15px;
    }

    .background-decoration {
        width: 200px;
        height: 200px;
    }
}